<ion-content>
  <div style="text-align: right">
    <ion-button (click)="dismissModal()" class="close-button">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </div>

  <div class="container">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index" data-label="No."> {{currentPage * pageSize + i + 1}} </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>UserName</th>
        <td mat-cell *matCellDef="let element" data-label="UserName" class="cell-right-border">{{element.username}}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element" data-label="Email" class="cell-right-border">{{element.email}}</td>
      </ng-container>
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let element" data-label="Time" class="cell-right-border">{{getTimeFormat(element.createdAt)}}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="ion-text-center">Quantity</th>
        <td mat-cell *matCellDef="let element" data-label="Quantity" class="cell-right-border">{{element.quantity}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-center"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="dataSource.data.length === 0" class="text-center py-5">
      No search agents created yet
    </div>
    <mat-paginator (page)="onPaginateChange($event)" [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons></mat-paginator>
  </div>
</ion-content>
