@media screen and (min-width: 769px){
  .mat-column-total {
    max-width: 40px;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0;
    padding-left: 5px;
  }
}
@media screen and (max-width: 768px) {
  table tr th {
    display: none;
  }

  table tr td {
    padding: 10px 15px!important;
    display: block;
    text-align: right!important;
    width: 100%!important;
  }

  table tr td:before {
    content: attr(data-label);
    float: left;
    font-size: 16px;
    color: #858585;
  }

  table tr {
    border-top: 2px solid #848484;
    border-bottom: 2px solid #848484;
  }

  mat-slide-toggle {
    display: inline-block;
  }

  .filter {
    width: 130px;
  }
}

