ion-header {
	.menu-icon {
		font-size: 30px;
		margin: 0 10px 0 0;
	}
}

.container {
	padding: 32px 11px 5px;
	justify-content: space-between;
	@media (min-width: 768px) {
		height: calc(100vh - 48px);
	}
}

.position {
	display: flex;
	height: 68px;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 75%;
	ion-icon {
		font-size: 45px;
	}
}

.position > div {
	display: flex;
	height: 100%;
	align-items: center;

	span {
		position: absolute;
		top: 60px;
		color: #00143c;
		font-size: 12px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.vehicle {
	margin-right: 18px;
	position: relative;
}

.home {
	margin-left: 6px;
	margin-right: 12.5px;
}

.departures {
	position: relative;
	margin-left: 19.5px;
}

.slider {
	position: relative;
	width: 100%;
	height: 218px;

	ion-slides {
		height: 100%;
		z-index: 0;
	}

	@media (min-width: 768px) {
		height: 100%;
	}
}

.slider > ion-icon {
	position: absolute;
	z-index: 10;
	cursor: pointer;
}

.img-info {
	color: white;
	font-size: 35px;
	left: 10px;
	top: 5px;
}

.img-star {
	color: white;
	font-size: 30px;
	right: 10px;
	top: 5px;
}

.active-star {
	color: var(--ion-color-warning);
}

.img-previous {
	font-size: 40px;
	left: 1px;
	bottom: 40%;
}

.img-next {
	font-size: 40px;
	right: 1px;
	bottom: 40%;
}

.slide-caption {
	background-color: transparent;
	margin: 10px 0 !important;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	span {
		font-size: 14px;
		color: #219653;
		//padding-left: 6px;
		//padding-right: 6px;
	}
}

.complete-badge {
	background-color: var(--ion-color-warning);
	color: var(--ion-color-primary);
	display: flex;
	position: absolute;
	right: 5px;
	bottom: 46px;
	padding-left: 7px;
	padding-right: 7px;
	border-radius: 10px;
	font-weight: bold;
}

.slide-image {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fill;
	height: 100%;
	width: 100%;
}

.question {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;

	.question-container {
		border-radius: 2px;
		width: 100%;
		box-shadow: 0 -2px #e6e6e6;
		//border: 1px solid #f1f1f1;
		//margin-left: 5px;
		font-size: 11px;
		height: 10px;
		background-color: #f5f5f5;
		position: relative;

		.question-content-bar {
			position: absolute;
			color: limegreen;
			background-color: var(--ion-color-warning);
			height: 100%;
			box-shadow: 0 -2px var(--ion-color-warning);
			border-radius: 2px;
			padding-left: 0;
			padding-right: 0;
			line-height: 13px;
			display: block;
			top: 0;
			left: 0;
		}

		.question-content {
			display: block;
			width: 100%;
			text-align: center;
			background-color: transparent;
			box-shadow: none;
		}
	}

	.bitmap {
		display: inline-block;
		width: 100%;
	}
}

.process {
	width: 100%;
	margin-top: 50px;
}

.category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 90px;

	.category-select {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.buy-circle {
			border-radius: 50%;
			border: 3px solid var(--ion-color-warning);
			background-color: var(--ion-color-warning);
			color: var(--ion-color-primary);
			width: 113px;
			height: 113px;
			text-align: center;
			font-size: 22px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Raleway-Bold;
		}

		ion-icon {
			font-size: 30px;
			--ionicon-stroke-width: 16px;
		}

		span {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 18px;
			color: white;
		}

		span.next {
			margin-right: 0;
		}
		span.prev {
			margin-left: 0;
		}
		@media only screen and (max-width: 328px) {
			span.prev {
				span {
					display: none;
				}
			}

			span.next {
				span {
					display: none;
				}
			}
		}
	}

	.direction-label {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 18px;
		color: #111212;
		height: 30px;
	}

	.footer-question {
		text-align: center;
		font-size: 18px;
		color: #a4a4a4;
	}
}

.ticket-process {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	padding: 26px 49px 19px;
	margin-top: 40px;

	p {
		margin-top: 3px;
		margin-bottom: 3px;
		font-size: 16px;
	}

	.small-size {
		font-size: 11px;
		margin-bottom: 0;
		margin-top: 5px;
	}

	.button-warning {
		font-size: 24px;
		height: 39px;
		margin: 0;
	}

	.button-primary {
		text-transform: none;
		width: 100%;
		font-size: 18px;
		font-family: Raleway-Regular;
		height: 39px;
		--color: var(--ion-color-primary) !important;
		--background: var(--ion-color-warning);
		margin: 14px 0 0;
		--padding-top: 9px;
		--padding-bottom: 9px;
	}
}

.payment-section {
	position: relative;
}

.back-icon {
	position: absolute;
	left: 0;
	top: 25px;
	font-size: 40px;
	z-index: 9;
}
