<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">
    <div class="container ion-align-items-center">
        <div class="position ion-text-center">
            <ion-icon [color]="currentCategory !== 'car' ? 'light' : 'warning'" name="car-outline" (click)="filterItem(0)"></ion-icon>
            <ion-icon [color]="currentCategory !== 'house' ? 'light' : 'warning'" name="home" (click)="filterItem(1)"></ion-icon>
            <ion-icon [color]="currentCategory !== 'travel' ? 'light' : 'warning'" name="airplane" (click)="filterItem(2)" style="transform: rotate(-90deg)"></ion-icon>
            <ion-icon [color]="currentCategory !== 'electronic' ? 'light' : 'warning'" name="tv" (click)="filterItem(3)"></ion-icon>
        </div>
        <div class="slider">
            <ion-icon name="information-circle" class="img-info" (click)="showInfo(currentItem)"></ion-icon>
            <ion-icon color="light" name="chevron-back-outline" (click)="prevSlide()" class="img-previous"></ion-icon>
            <ion-slides [options]="slideOpts">
                <ion-slide *ngFor="let preview_image of currentPreviewImages">
                    <img (click)="zoomIn(preview_image)" [src]="BASE_URL + 'public/' + preview_image" alt="car" class="slide-image">
                </ion-slide>
                <ion-slide *ngIf="!currentItem" style="color: white;">
                    Not Found
                </ion-slide>
            </ion-slides>
            <ion-icon [ngClass]="{'active-star': favourite}" [name]="'star' + (favourite ? '' : '-outline')" class="img-star" (click)="setFavourite(currentItem)"></ion-icon>
            <ion-icon color="light" name="chevron-forward-outline" (click)="nextSlide()"  class="img-next"></ion-icon>
            <div class="complete-badge" *ngIf="currentItem?.isComplete">
                Beendet
            </div>
            <div class="complete-badge" style="bottom: 20px;" *ngIf="currentItem?.isComplete">
                Gewinner: {{currentItem?.user.username}}
            </div>

            <div style="color: white; font-size: 20px; margin-top: 10px;">
                {{currentItem?.name}}</div>
            <div class="question">
                <div class="question-container">
                    <span class="question-content-bar"
                          [style]="'width:' + percentage + '%'">
                    </span>
                </div>
            </div>
            <div class="slide-caption">
                <span>{{percentage ? percentage : 0}}% of Tickets sold (Target: {{currentItem?.total_quantity}} Tickets) </span>
            </div>
        </div>

        <div class="process">
            <div class="category" *ngIf="step === 0">
                <div class="category-select">
                    <span class="prev" (click)="prevItem()">
                        <ion-icon color="light" name="chevron-back-outline"></ion-icon>
                        <span class="prev">Back</span>
                    </span>
                    <div class="buy-circle" (click)="nextStep(1)">Buy <br> Tickets</div>
                    <span class="next" (click)="nextItem()">
                        <span class="next">Next</span>
                        <ion-icon color="light" name="chevron-forward-outline"></ion-icon>
                    </span>
                </div>
                <div class="direction-label">
                </div>
                <div class="footer">
                    <p class="footer-question" [routerLink]="'/help'">What is Win and King?</p>
                </div>
                <div></div>
            </div>
            <div class="ticket-process" *ngIf="step === 1">
                <ion-icon class="back-icon" color="light" name="chevron-back-outline" (click)="goBack()"></ion-icon>
                <div>
                    <p class="ion-text-center">How many tickets you want to buy for: </p>
                    <p class="ion-text-center"><b>{{currentItem?.name}}</b></p>

                    <p class="small-size">1 Ticket = 1 €</p>
                    <ion-input type="number" class="button-warning" [placeholder]="'Maximum ' + (currentItem.total_quantity - totalQuantity)" [(ngModel)]="quantity" (ionChange)="checkValue()"></ion-input>
                </div>
                <div>
                    <ion-button class="button-primary" (click)="nextStep(2)" [disabled]="quantity === null || quantity === undefined || this.checkError">BUY TICKETS NOW</ion-button>
                </div>
            </div>
            <div class="payment-section" *ngIf="step === 2">
                <ion-icon class="back-icon" color="light" name="chevron-back-outline" (click)="goBack()"></ion-icon>
                <app-payment-gateway price="1.00" [quantity]="quantity" [itemId]="currentItem.id" (onSuccess)="handleTickets($event)"></app-payment-gateway>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
