<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" menuId="menu">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-note>
                        <ion-icon class="gold-color" name="person"></ion-icon>
                        {{currentUser ? currentUser.username : ''}}
                    </ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of currentUser ? appPages : unLoggedMenu; let i = index">
                        <ion-item (click)="onSelect(i)" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i" [class.border-bottom]="p.title=='Hilfe'">
                            <ion-icon class="gold-color ion-margin-end" name="square"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
