<div class="container">
    <div style="text-align: right">
        <ion-button (click)="dismissModal()" class="close-button">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </div>

    <mat-card>
        <mat-card-title>Update Product</mat-card-title>
        <mat-card-content>
            <form class="create-form" [formGroup]="updateItemForm">
                <mat-form-field class="full-width">
                    <mat-label>Item Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field class="full-width">
                    <mat-label>Total Quantity</mat-label>
                    <input matInput placeholder="Total Quantity" autocomplete="off" type="number"
                           formControlName="total_quantity">
                </mat-form-field>
                <br>

                <mat-form-field class="full-width">
                    <mat-label>Percentage</mat-label>
                    <input matInput [placeholder]="'>' + percentage" autocomplete="off" type="number"
                           formControlName="percentage">
                </mat-form-field>
                <br>

                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" autocomplete="off" type="text" formControlName="name">
                </mat-form-field>
                <br>

                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea maxlength="40" matInput placeholder="Description"
                              formControlName="description"></textarea>
                </mat-form-field>

                <div class="full-width">
                    <mat-label>Preview Images</mat-label>
                    <br>
                    <input type="file" multiple accept="image/*" formControlName="preview_images"
                           (change)="onChange($event.target.files)">
                </div>
                <br>
                <div class="d-flex image-area">
                    <div *ngFor="let preview_image of product.preview_images" class="image-container">
                        <img [src]="BASE_URL + 'public/' + preview_image" alt="">
                        <mat-icon (click)="deleteImage(preview_image)">delete</mat-icon>
                    </div>
                </div>
                <br>
                <br>
                <button mat-raised-button color="primary" class="full-width" (click)="updateItem()">Update</button>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 20px;">
        <mat-card-content>
            <div class="d-flex preview-item" *ngIf="f.type.value">
                <div class="label">Type of Product:</div>
                <div class="value">{{f.type.value}}</div>
            </div>
            <div class="d-flex preview-item" *ngIf="f.name.value">
                <div class="label">Name of Product:</div>
                <div class="value">{{f.name.value}}</div>
            </div>
            <div class="d-flex preview-item" *ngIf="f.total_quantity.value">
                <div class="label">Total Tickets available:</div>
                <div class="value">{{f.total_quantity.value}}</div>
            </div>
            <div class="preview-item" *ngIf="f.description.value">
                <div class="label">Description:</div>
                <div class="value" style="padding-left: 10px;">{{f.description.value}}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>