.full-width {
  width: 100%;
}

.preview-item {
  .label {
    width: 150px;
  }
  .value {

  }
}

.container {
  padding: 24px 24px 0;
  overflow-y: auto;
  .close-button {
    width: fit-content;
  }
}

.image-area {
  display: flex;
  flex-wrap: wrap;
  .image-container {
    margin: 10px;
    img {
      width: 100px;
      height: 100px;
    }

    mat-icon {
      cursor: pointer;
    }
  }
}
