<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">What is Win and King?</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()">
                <ion-icon color="primary" name="menu-outline"></ion-icon>
            </ion-button>
            <!--            <img class="menu-icon" src="/assets/images/home/burger_menu.png" (click)="openMenu()" alt="menu-icon" />-->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 class="ion-text-center">WAS IST WIN AND KING?</h1>
    <p class="ion-text-center">Gewinne und werde König</p>
    <br>
    <p>
        Mit WIN&amp;KING kann sich jetzt jeder ein wertvolles Auto, ein wunderschönes
        Familienhaus oder einen wohlverdienten Urlaub leisten und noch vieles mehr.
    </p>
    <p>
        Mit WIN&amp;KING haben Sie die Möglichkeit mit nur wenig Geld einen unserer kostbaren Preise zu gewinnen.
    </p>
    <p>
        Sie können mit WIN&amp;KING lose ERWERBEN und GEWINNEN.
    </p>
    <p>
        Je mehr Lose Sie für unsere Preise erwerben, desto höher ist Ihre Chance zu
        gewinnen.
    </p>
    <p>Jeder Preis hat einen Wert, den es zu erreichen gilt.</p>
    <p>Sobald der Wert erreicht wurde, findet eine offizielle Auslosung statt.</p>
    <p>
        Entsprechend der Anzahl Ihrer Gebote, die Sie für einen bestimmten Preis abgegeben haben, findet sich Ihr
        Benutzername im Lostopf wieder.
    </p>
    <p>
        Je wertvoller der Preis ist, desto mehr Benutzernamen werden bei der ersten Ziehung aus dem Lostopf gezogen.
    </p>
    <p>
        Alle Nutzer, die gezogen wurden, haben schon einmal hunderte von Losen gewonnen und werden danach einem weiteren
        Topf hinzugefügt.
    </p>
    <p>
        Bei der finalen Ziehung wird nur noch ein Name gezogen, der dann der Gewinner des Preises ist.
    </p>
    <p>
        Die Verlosungen werden von einem offiziellen Notar durchgeführt.
    </p>
    <p>Die Verlosung spezieller Preise wird Live auf unserem Youtube-Channel übertragen.</p>
    <p>Kostenloser Versand aller Preise</p>
    <!--    <ul>-->
    <!--        <li>Die Verlosungen werden von einem offiziellen Notar durchgeführt</li>-->
    <!--        <li>Spezielle Produkte werden Live auf unseren YouTube Channel übertragen</li>-->
    <!--        <li>Kostenloser Versand aller Produkte</li>-->
    <!--    </ul>-->
    <div class="round-button">
        <div [routerLink]="'/dashboard'">
            LET'S <br>
            GO
        </div>
    </div>
</ion-content>
