ion-header {
  .menu-icon {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
}

.pl-3 {
  padding-left: 1rem;
}

.round-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  div {
    width: 113px;
    height: 113px;
    display: flex;
    color: var(--ion-color-primary);
    background-color: var(--ion-color-warning);
    border-radius: 50%;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
  }
}