<style>
    body {
        background-color: #073763;
    }
    * {
        margin:0;
        padding: 0;
    }
    .text-center {
        text-align: center;
    }
    .text-underline-white {
        text-decoration: underline;
    }
    .yellow-underline {
        color: gold;
        text-decoration: underline;
    }
    .round-image {
        width: 200px;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background-size: contain;
        box-shadow: 0 0 26px #073763 inset;
        display: inline-block;
    }

</style>
<table style=" width: 100%; color: white;">
    <tr>
        <td style="text-align: center; padding-top: 70px;">
            <img src="http://116.203.228.108/assets/images/logo_without_letter.png" alt="logo" style="width: 200px; height: 200px;">
        </td>
    </tr>
    <tr>
        <td style="font-size: 40px; text-align: center; text-decoration: underline;">
            <%= title %>
        </td>
    </tr>
    <tr>
        <td style="font-size: 30px; padding-top: 70px; text-align: center;">
            <div style="width: 280px; display: inline-block;"><%= content %></div>
<!--            <div style="width: 280px; display: inline-block;">YOUR REGISTRATION WAS SUCCESSFUL!</div>-->
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; padding-top: 100px; text-align: center;">
            <div style="width: 280px; display: inline-block; text-align: left;">
                You Can Start <span style="color: gold; text-decoration: underline;">WINNING</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; padding-top: 5px; text-align: center;">
            <div style="width: 280px; display: inline-block; text-align: right;">
                You Can Start His a <span style="color: gold; text-decoration: underline;">KING</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 100px; padding-bottom: 150px; text-align: center;">
            <div style="background-image: url('http://116.203.228.108/assets/images/email_house.png');
                        width: 200px;
                        height: 150px;
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-size: contain;
                        box-shadow: 0 0 26px #073763 inset;
                        display: inline-block;"></div>
            <div style="background-image: url('http://116.203.228.108/assets/images/email_car.png');
                        width: 200px;
                        height: 150px;
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-size: contain;
                        box-shadow: 0 0 26px #073763 inset;
                        display: inline-block;"></div>
            <div style="background-image: url('http://116.203.228.108/assets/images/email_beach.png');
                        width: 200px;
                        height: 150px;
                        margin-left: 10px;
                        margin-right: 10px;
                        border-radius: 50%;
                        background-size: contain;
                        box-shadow: 0 0 26px #073763 inset;
                        display: inline-block;"></div>
        </td>
    </tr>
</table>