ion-header {
    .menu-icon {
        font-size: 30px;
        margin: 0 10px 0 0;
    }
}
.container {
    padding: 66px 11px 0;

    .bids-header {
        font-size: 30px;
        color: #00133F;
        margin-bottom: 58px;
    }

    ion-grid {
        width: 100%;
        font-size: 12px;

        .gird-header {
            font-family: Raleway-Bold;
        }

        //img {
        //    height: 43px;
        //    width: 100%;
        //}

        ion-col ion-row {
            height: 100%;
        }

        .status {
            font-family: Raleway-Bold;
        }

        .big-again {
            font-size: 6px;
            font-family: Raleway-Bold;
            color: #00133F;
            background-color: var(--ion-color-warning);
            text-align: center;
            width: 100%;
            height: 10px;
            line-height: 10px;
        }
    }

    ion-grid > ion-row {
        padding-bottom: 8px;
    }
}

.vertical-center {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    padding: 0;
}

.product-image {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .product-image {
        height: 43px;
        width: 57px;
    }
}

@media screen and (max-width: 1024px) {
    .product-image {
        height: 70px;
        width: 93px;
    }
}

@media screen and (min-width: 1024px) {
    .product-image {
        height: 80px;
        width: 106px;
    }
}