<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
            <!--            <img class="menu-icon" src="/assets/images/home/burger_menu.png" (click)="openMenu()" alt="menu-icon" />-->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">
    <div class="container ion-align-items-center ion-justify-content-around">
        <form class="register-form" [formGroup]="userInfoForm">
            <p class="label">Email Address</p>
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
            <p class="error-message"
               *ngIf="userInfoForm.get('email').touched && userInfoForm.get('email').hasError('required')">This
                field is required</p>
            <p class="error-message"
               *ngIf="userInfoForm.get('email').touched && userInfoForm.get('email').hasError('pattern')">Email must be a valid email address</p>

            <p class="label">Username</p>
            <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
            <p class="error-message"
               *ngIf="userInfoForm.get('username').touched && userInfoForm.get('username').hasError('required')">This
                field is required</p>

            <ion-button class="button-warning" color="warning" [disabled]="!userInfoForm.valid" (click)="save()">SAVE</ion-button>
            <p class="error-message"
               *ngIf="error">{{error}}</p>
        </form>
        <form class="register-form" [formGroup]="passwordResetForm">
            <p class="label">Old Password</p>
            <ion-input type="password" formControlName="oldPassword" placeholder="Old Password"></ion-input>
            <p class="error-message"
               *ngIf="passwordResetForm.get('oldPassword').touched && passwordResetForm.get('oldPassword').hasError('required')">This
                field is required</p>

            <p class="label">New Password</p>
            <ion-input type="password" formControlName="newPassword" placeholder="New Password"></ion-input>
            <p class="error-message"
               *ngIf="passwordResetForm.get('newPassword').touched && passwordResetForm.get('newPassword').hasError('required')">This
                field is required</p>

            <p class="label">Confirm Password</p>
            <ion-input type="password" formControlName="confirmPassword" placeholder="Confirm Password"></ion-input>
            <p class="error-message"
               *ngIf="passwordResetForm.get('confirmPassword').touched && passwordResetForm.get('confirmPassword').hasError('required')">This
                field is required</p>
            <p class="error-message"
               *ngIf="passwordResetForm.get('confirmPassword').touched && p_f.confirmPassword.errors && p_f.confirmPassword.errors.mustMatch">Passwords must match</p>
            
            <ion-button class="button-warning" color="warning" [disabled]="!passwordResetForm.valid" (click)="resetPassword()">RESET PASSWORD</ion-button>
            <p class="error-message"
               *ngIf="errorPassword">{{errorPassword}}</p>
        </form>
    </div>
</ion-content>

