.register-form {
    width: 100%;

    ion-input {
        width: 100%;
        background-color: var(--ion-color-primary-contrast);
        margin-bottom: 10px;
        text-align: center;
    }

    ion-button {
        margin-top: 14px;
    }

    p {
        margin-top: 14px;
        font-size: 13px;
        text-align: center;
    }

    p.label {
        color: white;
        text-align: left;
        margin-top: 0;
        margin-bottom: 3px;
    }
}

ion-content {
    background-color: var(--ion-color-primary);
}

ion-header {
    .menu-icon {
        font-size: 30px;
        margin: 0 10px 0 0;
    }
}