<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <div class="custom-toolbar">
            <ion-icon class="gold-color back-icon" name="chevron-back-outline" (click)="goBack()" slot="start"></ion-icon>
            <ion-icon class="gold-color menu-icon" name="list-outline" (click)="openMenu()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">

    <div class="container">
        <div class="logo-content">
            <img class="logo-image" src="/assets/images/logo.png" alt="logo">
        </div>

        <div class="content">

            <p>- REGISTER -</p>

            <form class="register-form" [formGroup]="registerForm">
                <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
                <p class="error-message"
                   *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">This
                    field is required</p>
                <p class="error-message"
                   *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('pattern')">Email must
                    be a valid email address</p>

                <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
                <p class="error-message"
                   *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">
                    This
                    field is required</p>

                <ion-input type="password" formControlName="confirmPassword"
                           placeholder="Confirm Password"></ion-input>
                <p class="error-message"
                   *ngIf="registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').hasError('required')">
                    This
                    field is required</p>
                <p class="error-message"
                   *ngIf="registerForm.get('confirmPassword').touched && f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">
                    Passwords must match</p>

                <ion-input type="text" formControlName="username" placeholder="Username"></ion-input>
                <p class="error-message"
                   *ngIf="registerForm.get('username').touched && registerForm.get('username').hasError('required')">
                    This
                    field is required</p>

                <ion-button class="button-warning" color="warning" [disabled]="!registerForm.valid"
                            (click)="register()">REGISTER
                </ion-button>
                <p class="error-message"
                   *ngIf="error">{{error}}</p>

                <p [routerLink]="'/forgot'">Forgot Password?</p>

            </form>


            <div class="footer">
                <p class="footer-question">What is Win and King?</p>
            </div>
        </div>
    </div>

</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
