.back-icon {
    margin-top: 6px;
    font-size: 30px;
}
.content {
    padding-bottom: 7px;

    p {
        font-size: 15px;
        font-family: Raleway-Bold, serif;
        color: var(--ion-color-primary-contrast);
    }

    .register-form {
        width: 100%;

        ion-input {
            width: 100%;
            background-color: var(--ion-color-primary-contrast);
            margin-top: 14px;
            text-align: center;
        }

        ion-button {
            margin-top: 14px;
        }

        p {
            margin-top: 14px;
            font-size: 13px;
            text-align: center;
        }
    }
}
