<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <div class="custom-toolbar">
      <div [routerLink]="'/dashboard'">
        <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
      </div>
      <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
      <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
      <!--            <img class="menu-icon" src="/assets/images/home/burger_menu.png" (click)="openMenu()" alt="menu-icon" />-->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center ion-margin-top">Datenschutzerklärung</h1>
  <p>
    Verantwortlicher im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO), ist:
    Manuele Lufino
  </p>
  <h2>Ihre Betroffenenrechte</h2>
  <p>
    Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:
  </p>
  <ul>
    <li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung (Art. 15 DSGVO),</li>
    <li>Berichtigung unrichtiger personenbezogener Daten (Art. 16 DSGVO),</li>
    <li>Löschung Ihrer bei uns gespeicherten Daten (Art. 17 DSGVO),</li>
    <li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht
      löschen dürfen (Art. 18 DSGVO),
    </li>
    <li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns (Art. 21 DSGVO) und</li>
    <li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns
      abgeschlossen haben (Art. 20 DSGVO).
    </li>
  </ul>
  <p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft
    widerrufen.</p>
  <p>
    Sie können sich jederzeit mit einer Beschwerde an eine Aufsichtsbehörde wenden, z. B. an die zuständige
    Aufsichtsbehörde des Bundeslands Ihres Wohnsitzes oder an die für uns als verantwortliche Stelle zuständige
    Behörde.
  </p>
  <p>
    Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter:
    <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.">
      https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html.
    </a>
  </p>

  <h2>Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
  <h3>Art und Zweck der Verarbeitung:</h3>
  <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig Informationen
    übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles)
    beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres
    Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
    Sie werden insbesondere zu folgenden Zwecken verarbeitet:
  </p>
  <ul>
    <li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
    <li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
    <li>Auswertung der Systemsicherheit und -stabilität sowie</li>
    <li>zu weiteren administrativen Zwecken.</li>
  </ul>
  <p>
    Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Informationen dieser Art werden von
    uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.
  </p>
  <h3>Rechtsgrundlage:</h3>
  <p>
    Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der
    Verbesserung der Stabilität und Funktionalität unserer Website.
  </p>
  <h3>Empfänger:</h3>
  <p>
    Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als
    Auftragsverarbeiter tätig werden.
  </p>
  <h3>Speicherdauer:</h3>
  <p>
    Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für
    die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung
    beendet ist.
  </p>
  <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <p>
    Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich
    vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht
    gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein. Aus diesem
    Grund ist ein Widerspruch ausgeschlossen.
  </p>

  <h2>Registrierung auf unserer Website</h2>
  <h3>Art und Zweck der Verarbeitung:</h3>
  <p>
    Bei der Registrierung für die Nutzung unserer personalisierten Leistungen werden einige personenbezogene Daten
    erhoben, wie Name, Anschrift, Kontakt- und Kommunikationsdaten (z. B. Telefonnummer und E-Mail-Adresse). Sind
    Sie bei uns registriert, können Sie auf Inhalte und Leistungen zugreifen, die wir nur registrierten Nutzern
    anbieten. Angemeldete Nutzer haben zudem die Möglichkeit, bei Bedarf die bei Registrierung angegebenen Daten
    jederzeit zu ändern oder zu löschen. Selbstverständlich erteilen wir Ihnen darüber hinaus jederzeit Auskunft
    über die von uns über Sie gespeicherten personenbezogenen Daten.
  </p>
  <h3>Rechtsgrundlage:</h3>
  <p>
    Die Verarbeitung der bei der Registrierung eingegebenen Daten erfolgt auf Grundlage einer Einwilligung des
    Nutzers (Art. 6 Abs. 1 lit. a DSGVO).
    Dient die Registrierung der Erfüllung eines Vertrages, dessen Vertragspartei die betroffene Person ist oder der
    Durchführung vorvertraglicher Maßnahmen, so ist zusätzliche Rechtsgrundlage für die Verarbeitung der Daten Art.
    6 Abs. 1 lit. b DSGVO.
  </p>
  <h3>Empfänger:</h3>
  <p>
    Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Website als
    Auftragsverarbeiter tätig werden.
  </p>
  <h3>Speicherdauer:</h3>
  <p>Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt. Danach
    werden sie gelöscht, soweit keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Zur Kontaktaufnahme in
    diesem Zusammenhang nutzen Sie bitte die am Ende dieser Datenschutzerklärung angegebenen Kontaktdaten.</p>
  <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung. Ohne
    die Bereitstellung Ihrer personenbezogenen Daten können wir Ihnen keinen Zugang auf unsere angebotenen Inhalte
    und Leistungen gewähren.</p>

  <h2>Newsletter</h2>
  <h3>Art und Zweck der Verarbeitung:</h3>
  <p>
    Ihre Daten werden ausschließlich dazu verwendet, Ihnen den abonnierten Newsletter per E-Mail zuzustellen. Die
    Angabe Ihres Namens erfolgt, um Sie im Newsletter persönlich ansprechen zu können und ggf. zu identifizieren,
    falls Sie von Ihren Rechten als Betroffener Gebrauch machen wollen.
  </p>
  <p>
    Für den Empfang des Newsletters ist die Angabe Ihrer E-Mail-Adresse ausreichend. Bei der Anmeldung zum Bezug
    unseres Newsletters werden die von Ihnen angegebenen Daten ausschließlich für diesen Zweck verwendet. Abonnenten
    können auch über Umstände per E-Mail informiert werden, die für den Dienst oder die Registrierung relevant sind
    (bspw. Änderungen des Newsletterangebots oder technische Gegebenheiten).
  </p>
  <p>
    Für eine wirksame Registrierung benötigen wir eine valide E-Mail-Adresse. Um zu überprüfen, dass eine Anmeldung
    tatsächlich durch den Inhaber einer E-Mail-Adresse erfolgt, setzen wir das „Double-opt-in“-Verfahren ein. Hierzu
    protokollieren wir die Bestellung des Newsletters, den Versand einer Bestätigungsmail und den Eingang der
    hiermit angeforderten Antwort. Weitere Daten werden nicht erhoben. Die Daten werden ausschließlich für den
    Newsletterversand verwendet und nicht an Dritte weitergegeben.
  </p>
  <h3>Rechtsgrundlage:</h3>
  <p>
    Auf Grundlage Ihrer ausdrücklich erteilten Einwilligung (Art. 6 Abs. 1 lit. a DSGVO), übersenden wir Ihnen
    regelmäßig unseren Newsletter bzw. vergleichbare Informationen per E-Mail an Ihre angegebene E-Mail-Adresse.
  </p>
  <p>
    Die Einwilligung zur Speicherung Ihrer persönlichen Daten und ihrer Nutzung für den Newsletterversand können Sie
    jederzeit mit Wirkung für die Zukunft widerrufen. In jedem Newsletter findet sich dazu ein entsprechender Link.
    Außerdem können Sie sich jederzeit auch direkt auf dieser Website abmelden oder uns Ihren Widerruf über die am
    Ende dieser Datenschutzhinweise angegebene Kontaktmöglichkeit mitteilen.
  </p>
  <h3>Empfänger:</h3>
  <p>Empfänger der Daten sind ggf. Auftragsverarbeiter.</p>
  <h3>Speicherdauer:</h3>
  <p>Die Daten werden in diesem Zusammenhang nur verarbeitet, solange die entsprechende Einwilligung vorliegt. Danach
    werden sie gelöscht.</p>
  <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <p>
    Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung. Ohne
    bestehende Einwilligung können wir Ihnen unseren Newsletter leider nicht zusenden.
  </p>
  <h2>Kontaktformular</h2>
  <h3>Art und Zweck der Verarbeitung:</h3>
  <p>Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen Kommunikation mit Ihnen gespeichert. Hierfür
    ist die Angabe einer validen E-Mail-Adresse sowie Ihres Namens erforderlich. Diese dient der Zuordnung der
    Anfrage und der anschließenden Beantwortung derselben. Die Angabe weiterer Daten ist optional.</p>
  <h3>Rechtsgrundlage:</h3>
  <p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt auf der Grundlage eines berechtigten
    Interesses (Art. 6 Abs. 1 lit. f DSGVO).</p>
  <p>Durch Bereitstellung des Kontaktformulars möchten wir Ihnen eine unkomplizierte Kontaktaufnahme ermöglichen. Ihre
    gemachten Angaben werden zum Zwecke der Bearbeitung der Anfrage sowie für mögliche Anschlussfragen
    gespeichert.</p>
  <p>Sofern Sie mit uns Kontakt aufnehmen, um ein Angebot zu erfragen, erfolgt die Verarbeitung der in das
    Kontaktformular eingegebenen Daten zur Durchführung vorvertraglicher Maßnahmen (Art. 6 Abs. 1 lit. b DSGVO).</p>
  <h3>Empfänger:</h3>
  <p>Empfänger der Daten sind ggf. Auftragsverarbeiter.</p>
  <h3>Speicherdauer:</h3>
  <p>Daten werden spätestens 6 Monate nach Bearbeitung der Anfrage gelöscht.</p>
  <p>Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den gesetzlichen Aufbewahrungsfristen nach HGB und
    löschen Ihre Daten nach Ablauf dieser Fristen.</p>
  <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Wir können Ihre Anfrage jedoch nur
    bearbeiten, sofern Sie uns Ihren Namen, Ihre E-Mail-Adresse und den Grund der Anfrage mitteilen.</p>

  <h2>Eingebettete YouTube-Videos</h2>
  <h3>Art und Zweck der Verarbeitung:</h3>
  <p>
    Auf einigen unserer Webseiten betten wir YouTube-Videos ein. Betreiber der entsprechenden Plugins ist die
    YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA (nachfolgend „YouTube“). Wenn Sie eine Seite mit dem
    YouTube-Plugin besuchen, wird eine Verbindung zu Servern von YouTube hergestellt. Dabei wird YouTube mitgeteilt,
    welche Seiten Sie besuchen. Wenn Sie in Ihrem YouTube-Account eingeloggt sind, kann YouTube Ihr Surfverhalten
    Ihnen persönlich zuzuordnen. Dies verhindern Sie, indem Sie sich vorher aus Ihrem YouTube-Account ausloggen.
  </p>
  <p>Wird ein YouTube-Video gestartet, setzt der Anbieter Cookies ein, die Hinweise über das Nutzerverhalten
    sammeln.</p>
  <p>
    Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer Verarbeitung durch YouTube erhalten Sie in
    den Datenschutzerklärungen des Anbieters, Dort erhalten Sie auch weitere Informationen zu Ihren diesbezüglichen
    Rechten und Einstellungsmöglichkeiten zum Schutze Ihrer Privatsphäre (<a
          href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>). Google verarbeitet Ihre
    Daten in den USA und hat sich dem EU-US Privacy Shield unterworfen https://www.privacyshield.gov/EU-US-Framework
  </p>
  <h3>Rechtsgrundlage:</h3>
  <p>Rechtsgrundlage für die Einbindung von YouTube und dem damit verbundenen Datentransfer zu Google ist Ihre
    Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
  <h3>Empfänger:</h3>
  <p>Der Aufruf von YouTube löst automatisch eine Verbindung zu Google aus.</p>
  <h3>Speicherdauer und Widerruf der Einwilligung:</h3>
  <p>Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim Anschauen von
    YouTube-Videos mit keinen solchen Cookies rechnen müssen. YouTube legt aber auch in anderen Cookies
    nicht-personenbezogene Nutzungsinformationen ab. Möchten Sie dies verhindern, so müssen Sie das Speichern von
    Cookies im Browser blockieren.</p>
  <p>Weitere Informationen zum Datenschutz bei „YouTube“ finden Sie in der Datenschutzerklärung des Anbieters unter:
    <a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a>
  </p>
  <h3>Drittlandtransfer:</h3>
  <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen <a
          href="https://www.privacyshield.gov/EU-US-Framework">https://www.privacyshield.gov/EU-US-Framework</a>.</p>
  <h3>Bereitstellung vorgeschrieben oder erforderlich:</h3>
  <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig, allein auf Basis Ihrer Einwilligung. Sofern
    Sie den Zugriff unterbinden, kann es hierdurch zu Funktionseinschränkungen auf der Website kommen.</p>

  <h2>SSL-Verschlüsselung</h2>
  <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik
    entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
  <h2>Änderung unserer Datenschutzbestimmungen</h2>
  <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, damit sie stets den aktuellen rechtlichen
    Anforderungen entspricht oder um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen, z.B. bei
    der Einführung neuer Services. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p>
  <h2>Fragen an den Datenschutzbeauftragten</h2>
  <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die für
    den Datenschutz verantwortliche Person in unserer Organisation:</p>
  <p>Die Datenschutzerklärung wurde mithilfe der activeMind AG erstellt, den Experten für <a
          href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/">externe Datenschutzbeauftragte</a>
    (Version #2019-04-10).</p>
</ion-content>
