ion-header {
    .menu-icon {
        font-size: 30px;
        margin: 0 10px 0 0;
    }
}
.ticket-process {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    color: #00143C;
    padding: 26px 49px 19px;

    p {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 16px;
    }

    .small-size {
        font-size: 11px;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .button-warning {
        font-size: 24px;
        height: 39px;
        margin: 0;
    }

    .button-primary {
        text-transform: none;
        width: 100%;
        font-size: 18px;
        font-family: Raleway-Regular;
        height: 39px;
        --color: var(--ion-color-warning)!important;
        background-color: var(--ion-color-primary);
        margin: 14px 0 0;
        --padding-top: 9px;
        --padding-bottom: 9px;
    }
}

.payment-selection {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 26px;

    .button-primary {
        --color: var(--ion-color-warning);
        --border-radius: 18px;
        font-size: 16px;
        font-family: Raleway-Bold;
    }

    p {
        margin-top: 3px;
        margin-bottom: 3px;
        text-align: center;
        color: #00143C;
    }
}

.back-icon {
    width: 20px;
    position: absolute;
    left: -40px;
    top: 0;
}