<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container ion-align-items-center ion-justify-content-around">
        <div class="ticket-process" *ngIf="step === 0">
            <div>
                <p class="ion-text-center">Wie viele Lose möchtest Du für </p>
                <p class="ion-text-center"><b>Bugatti Chiron Sport Color</b></p>
                <p class="ion-text-center">kaufen?</p>

                <p class="small-size">1 Los entspricht 1 €</p>
                <ion-input type="number" class="button-warning" [(ngModel)]="quantity"></ion-input>
            </div>
            <div>
                <ion-button class="button-primary" (click)="nextStep(1)">JETZT LOSE KAUFEN</ion-button>
            </div>
        </div>
        <div class="payment-selection" *ngIf="step === 1">
<!--            <img class="back-icon" src="/assets/images/buy_tickets_process/multimedia-option copy 3.png" (click)="goBack()" slot="start" alt="menu-icon">-->
            <p>Wie möchtest Du bezahlen?</p>
            <ion-button class="button-primary" (click)="nextStep(1)">KREDIT KARTE</ion-button>
            <p>oder</p>
            <img src="/assets/images/payment_selection/paypal-button.png" (click)="onlinePayByPaypal()" alt="paypal" style="height: 60px;margin-bottom: 50px;">
            <ion-button class="button-primary" (click)="nextStep(0)">Back</ion-button>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
