.back-icon {
    margin-top: 6px;
    font-size: 30px;
}
.content {
    padding-bottom: 7px;

    p {
        font-size: 15px;
        font-family: Raleway-Bold, serif;
        color: var(--ion-color-primary-contrast);
    }

    .forgot-form {
        width: 100%;

        ion-input {
            width: 100%;
            background-color: var(--ion-color-primary-contrast);
            //margin-bottom: 14px;
            text-align: center;
        }

        ion-button {
            margin-top: 28px;
        }

        p {
            margin-top: 14px;
            font-size: 13px;
            text-align: center;
        }
    }

    .image {
        width: 118px;
        height: 118px;
    }

    .footer {
        width: 100%;
        ion-button {
            //width: 100%;
        }

        .footer-question {
            margin-top: 27px;
        }
    }
}
