<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <div class="custom-toolbar">
            <ion-icon class="gold-color back-icon" name="chevron-back-outline" (click)="goBack()" slot="start"></ion-icon>
            <ion-icon class="gold-color menu-icon" name="list-outline" (click)="openMenu()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">

    <div class="container">
        <div class="logo-content">
            <img class="logo-image" src="/assets/images/logo.png" alt="logo">
<!--            <span class="logo-title">WIN & KING</span>-->
        </div>

        <div class="content">

            <p *ngIf="!isSent">- Forgot password -</p>

            <form class="forgot-form" *ngIf="!isSent" [formGroup]="forgotForm">
                <ion-input placeholder="Email" formControlName="email"></ion-input>
                <p class="error-message"
                   *ngIf="forgotForm.get('email').touched && forgotForm.get('email').hasError('required')">This
                    field is required</p>
                <p class="error-message"
                   *ngIf="forgotForm.get('email').touched && forgotForm.get('email').hasError('pattern')">The email type
                    is wrong</p>

                <ion-button class="button-warning" color="warning" (click)="resetPassword()"
                            [disabled]="!forgotForm.valid">PW Reset
                </ion-button>
                <p class="error-message" *ngIf="error">{{error}}</p>
            </form>

            <p class="content-title" *ngIf="isSent">Password was reset successfully<br>Please check your Emails.</p>

            <div *ngIf="isSent" class="image">
                <img src="/assets/images/pw_reset_success/check.png" alt="check image">
            </div>

            <div class="footer">
                <ion-button *ngIf="isSent" color="warning" class="button-warning" (click)="gotoLogin()">
                    Login again
                </ion-button>
                <p class="footer-question">What is Win and King?</p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
