<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <div class="custom-toolbar" slot="end">
            <ion-icon class="gold-color menu-icon" name="list-outline" (click)="openMenu()"></ion-icon>
<!--            <img class="menu-icon" src="/assets/images/home/burger_menu.png" (click)="openMenu()" alt="menu-icon" />-->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">

    <div class="container">
        <div class="logo-content">
            <img class="logo-image" src="/assets/images/logo.png" alt="logo">
        </div>

        <div class="content">
            <div class="join-now ion-text-center">
                <ion-button color="warning" [routerLink]="'/register'">Register Now</ion-button>
            </div>
            <div class="log-in">
                <ion-button [routerLink]="'/login'">Log In</ion-button>
            </div>
            <div>
                <ion-button (click)="openSocialLink('facebook')"><ion-icon name="logo-facebook"></ion-icon></ion-button>
                <ion-button (click)="openSocialLink('instagram')"><ion-icon name="logo-instagram"></ion-icon></ion-button>
                <ion-button (click)="openSocialLink('youtube')"><ion-icon name="logo-youtube"></ion-icon></ion-button>
            </div>
            <div class="footer">
                <p class="footer-question" [routerLink]="'/help'">What is Win and King?</p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
