.join-now {
    width: 100%;
    p {
        font-size: 13px;
        font-family: Raleway-Bold;
        color: var(--ion-color-primary-contrast);
    }
    ion-button {
        text-transform: none;
        width: 100%;
        font-size: 18px;
        color: #111212;
        background-color: var(--ion-color-warning);
        --padding-top: 9px;
        --padding-bottom: 9px;
    }
}

.log-in {
    width: 100%;
    ion-button {
        text-transform: none;
        width: 100%;
        font-size: 18px;
        color: var(--ion-color-primary-contrast);
        --padding-top: 9px;
        --padding-bottom: 9px;
        border: 1px solid var(--ion-color-warning);
        font-family: Raleway-Regular;
    }
}

.content {
    padding-top: 100px;
    padding-bottom: 7px;
    justify-content: space-evenly;
}
