ion-header {
    .menu-icon {
        font-size: 30px;
        margin: 0 10px 0 0;
    }
}
.container {
    padding-bottom: 100px;

    .ticket-header {
        font-size: 30px;
        color: #00133F;
    }

    .ticket-number {
        font-family: Raleway-Bold;
        font-size: 55px;
        color: #00133F;
    }

    .ticket-footer {
        font-size: 12px;
        color: #00133F;
    }
}


