<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container ion-align-items-center ion-justify-content-around">
        <p class="ticket-header">Meine Lose</p>
        <p class="ticket-number">{{myLose}}</p>
        <p class="ticket-footer">entspricht einem Wert von {{myLose}} €</p>
    </div>
</ion-content>

