.back-icon {
    margin-top: 6px;
    font-size: 30px;
}
.content {
    padding-bottom: 7px;

    .login-form {
        width: 100%;

        ion-input {
            width: 100%;
            background-color: var(--ion-color-primary-contrast);
            margin-top: 14px;
            text-align: center;
        }

        p.forgot {
            font-size: 13px;
            text-align: center;
            margin-top: 35px;
            color: var(--ion-color-primary-contrast);
        }
    }
}
