<ion-header>
    <ion-toolbar color="primary" class="ion-text-center">
        <div class="custom-toolbar">
            <ion-icon class="gold-color back-icon" name="chevron-back-outline" (click)="goBack()" slot="start"></ion-icon>
            <ion-icon class="gold-color menu-icon" name="list-outline" (click)="openMenu()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="background-blue">

    <div class="container">
        <div class="logo-content">
            <img class="logo-image" src="/assets/images/logo.png" alt="logo">
        </div>

        <div class="content">
            <p class="content-title">- LOGIN -</p>
            <form [formGroup]="loginForm" class="login-form">
                <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
                <p class="error-message"
                   *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">This
                    field is required</p>
                <p class="error-message"
                *ngIf="loginForm.get('email').hasError('pattern')">
                    Please provide a valid email address
                </p>

                <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
                <p class="error-message"
                   *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">This
                    field is required</p>

                <ion-button type="button" class="button-warning" color="warning" (click)="login()"
                            [disabled]="!loginForm.valid">LOGIN
                </ion-button>

                <p class="error-message" *ngIf="error">{{error}}</p>

                <p class="forgot" [routerLink]="'/forgot'">Forgot Password?</p>
            </form>
            <div class="footer">
                <p class="footer-question">What is Win and King?</p>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <div class="bar-warning"></div>
</ion-footer>
