<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()">
                <ion-icon color="primary" name="menu-outline"></ion-icon>
            </ion-button>
            <!--            <img class="menu-icon" src="/assets/images/home/burger_menu.png" (click)="openMenu()" alt="menu-icon" />-->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let element" data-label="Type" class="cell-right-border">{{element.type}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element" data-label="Name" class="cell-right-border">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="total_quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Quantity</th>
                <td mat-cell *matCellDef="let element" data-label="Total Quantity"
                    class="cell-right-border">{{element.total_quantity}}</td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let element" data-label="Description"
                    class="cell-right-border">{{element.description.substring(0, 15)}} <span
                        *ngIf="element.description.length > 15">...</span></td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px; padding-right: 0;"></th>
                <td mat-cell *matCellDef="let element" data-label="" class="cell-right-border"
                    style="width: 75px; padding-right: 0;">
                    <mat-icon (click)="editProduct(element)">edit</mat-icon>
                    <mat-icon (click)="purchaseHistory(element)">visibility</mat-icon>
                    <mat-icon (click)="deleteProduct(element)">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div *ngIf="dataSource.data.length === 0" class="text-center py-5">
            No search agents created yet
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</ion-content>
