ion-header {
  .menu-icon {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 768px) {
  table tr th {
    display: none;
  }

  table tr td {
    padding: 10px 15px!important;
    display: block;
    text-align: right!important;
    width: 100%!important;
  }

  table tr td:before {
    content: attr(data-label);
    float: left;
    font-size: 16px;
    color: #858585;
  }

  table tr {
    border-top: 2px solid #848484;
    border-bottom: 2px solid #848484;
  }

  mat-slide-toggle {
    display: inline-block;
  }

  .filter {
    width: 130px;
  }
}

.container {
  padding: 24px 24px 0;
}

td mat-icon {
  cursor: pointer;
}