<ion-content class='image-modal-page'>
  <ion-button (click)="dismissModal()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <img [src]="BASE_URL + 'public/' + image" alt="car" class="slide-image">
    </ion-slide>
  </ion-slides>
</ion-content>