ion-header {
  .menu-icon {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
}

ion-content {
  --background: #153760!important;
  ion-card {
    margin: 0;
    border-radius: 0;
    --background: #153760!important;
    border-bottom: 1px solid #F2F2F220;
  }
}

ion-card-content {
  height: auto;
}

ion-card-header {
  padding-bottom: 0;
  transition: padding-bottom 0.4s ease-in-out;
}

.white-color {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.p-13 {
  padding-bottom: 13px!important;
}