<ion-header>
  <ion-toolbar color="warning" class="ion-text-center">
    <div class="custom-toolbar">
      <div [routerLink]="'/dashboard'">
        <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
      </div>
      <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
      <ion-button class="menu-icon" (click)="openMenu()">
        <ion-icon color="primary" name="menu-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header [class.p-13]="item.expanded">
      <ion-card-title class="white-color">
        <div class="item-title">
          <div>{{item.title}}</div>
          <ion-icon *ngIf="!item.link" [name]="item.expanded ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-expandable expandHeight="400px" [expanded]="item.expanded">
        {{item.content}}
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
