<ion-header>
    <ion-toolbar color="warning" class="ion-text-center">
        <div class="custom-toolbar">
            <div [routerLink]="'/dashboard'">
                <img class="header-logo" src="/assets/images/logo_white_blue.png" alt="small logo">
            </div>
            <ion-text color="primary" class="header-title">{{this.currentUser?.username}}</ion-text>
            <ion-button class="menu-icon" (click)="openMenu()"><ion-icon color="primary" name="menu-outline"></ion-icon></ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container ion-align-items-center ">
        <div class="bids-header">My Auctions / Bids</div>

        <ion-grid>
            <ion-row class="gird-header">
                <ion-col class="ion-no-padding" size="7">
                    <ion-row>
                        <ion-col class="ion-text-center" size="5">Product</ion-col>
                        <ion-col class="ion-text-center" size="7">Ticket / Value</ion-col>
                    </ion-row>
                </ion-col>
                <ion-col class="ion-no-padding" size="5">
                    <ion-row>
                        <ion-col class="ion-text-center" size="6">Date</ion-col>
                        <ion-col class="ion-text-center" size="6">Status</ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let item of itemLists">
                <ion-col class="ion-no-padding" size="7">
                    <ion-row>
                        <ion-col size="5" class="vertical-center ion-text-center">
                            <div class="product-image">
                                <img [src]="BASE_URL + 'public/' + getImageFileName(item.item)" alt="car">
                                <div *ngIf="!item.item.isComplete" class="big-again">Buy again</div>
                            </div>
                        </ion-col>
                        <ion-col size="7" class="vertical-center ion-text-center">
                            {{item.total_quantity}} Lose / {{item.total_quantity}} €
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col class="ion-no-padding" size="5">
                    <ion-row>
                        <ion-col size="6" class="vertical-center ion-text-center">{{formatDate(item.item.createdAt)}}</ion-col>
                        <ion-col class="status vertical-center ion-text-center" size="6" >{{item.item.isComplete? 'completed' : 'still running'}}</ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>
