.container {
    padding: 24px 24px 0;
    .full-width {
        width: 100%;
    }

    .preview-item {
        .label {
            width: 150px;
        }
        .value {

        }
    }
}
ion-header {
    .menu-icon {
        font-size: 30px;
        margin: 0 10px 0 0;
    }
}