.payment-selection {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	padding: 60px 49px 0;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 450px;

	.button-primary {
		--color: var(--ion-color-primary);
		--background: var(--ion-color-warning);
		--border-radius: 18px;
		font-size: 16px;
		font-family: Raleway-Bold;
	}

	p {
		margin-top: 3px;
		margin-bottom: 3px;
		text-align: center;
		color: white;
	}
}
