<div class="payment-selection" >
  <!--  <img class="back-icon" src="/assets/images/buy_tickets_process/multimedia-option copy 3.png" (click)="goBack()" slot="start" alt="menu-icon">-->
  <!-- <p>Select your Payment method</p>
  <ion-button class="button-primary" (click)="onlinePayByPaypal()">CREDIT CARD</ion-button>
  <p>or</p>
  <ion-button class="button-primary ion-text-capitalize" (click)="onlinePayByPaypal()">
      <img src="/assets/svg/logo-paypal.svg" alt="paypal" width="16">
      PayPal
  </ion-button> -->
  <div #paypal></div>
</div>