@font-face {
    font-family: Raleway-Regular;
    font-style: normal;
    src: url("/assets/font/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway-Bold;
    font-style: normal;
    src: url("/assets/font/Raleway-Bold.ttf");
}

.header-md::after {
    background-image: none;
}

.background-blue {
    --background: #073763;
}

.logo-image {
    height: 180px;
}

ion-header {
    ion-toolbar {
        height: 40px;
    }
    .custom-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -15px;
    }
    .menu-icon {
        --background: transparent;
        --box-shadow: none;
        --padding-start: 0;
        --padding-end: 0;
        margin-right: 14px;
        margin-top: 6px;
        margin-bottom: 0;
        height: 40px;
        width: 40px;
    }

    .back-icon {
        --background: transparent;
        --box-shadow: none;
        --padding-start: 0;
        --padding-end: 0;
        margin-left: 14px;
        margin-top: 19px;
        margin-bottom: 0;
    }

    .header-logo {
        //margin-top: 14px;
        margin-top: 3px;
        height: 35px;
        margin-left: 11px;
        //margin-bottom: 15px;
    }

    .header-logo-title {
        position: absolute;
        left: 46px;
        top: 20px;
        font-size: 8px;
        color: var(--ion-color-primary-contrast);
        font-family: Raleway-Regular;
    }

    .header-title {
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        padding-top: 10px;

        //top: 34px;
        //position: absolute;
        //transform: translateX(-50%);
    }
}

ion-content {
    font-family: Raleway-Regular;
}

.container {
    padding: 42px 48px 0;
    display: flex;
    flex-direction: column;
    //height: 100%;
    min-height: 100%;

    .logo-content {
        position: relative;
        border-bottom: 1px solid var(--ion-color-primary-contrast);
        padding-bottom: 7px;
        text-align: center;

        .logo-title {
            position: absolute;
            left: 114px;
            top: 95px;
            font-size: 30px;
            color: var(--ion-color-primary-contrast);
            font-family: Raleway-Regular;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        .footer {
            .footer-question {
                text-align: center;
                font-family: Raleway-Regular;
                font-size: 18px;
                color: #A4A4A4;
            }
        }
    }
}

ion-footer{
    .bar-warning {
        height: 7px;
        background-color: var(--ion-color-warning);
    }
}

.content-title {
    font-size: 15px;
    font-family: Raleway-Bold;
    color: var(--ion-color-primary-contrast);
    text-align: center;
}

.button-warning {
    text-transform: none;
    width: 100%;
    font-size: 18px;
    color: #111212;
    background-color: var(--ion-color-warning);
    margin: 14px 0 0;
    text-align: center;
    --padding-top: 9px;
    --padding-bottom: 9px;
}

.error-message {
    margin: 0!important;
    font-size: 13px;
    font-family: Raleway-Regular!important;
    color: var(--ion-color-warning) !important;
    text-align: center;
}

.border-red {
    border: 3px solid red;
}

.border-white {
    border: 3px solid white;
}

.border-yellow {
    border: 5px solid yellow;
}

.my-custom-modal-class   {
    --backdrop-opacity: 0.8 !important;

    .modal-wrapper {
        position: absolute;
    }
}

.gold-color {
    color: var(--ion-color-warning);
}

.d-flex {
    display: flex!important;
}

@media only screen and (min-height: 768px) and (min-width: 768px) {
    .sc-ion-modal-md-h {
        --width: 600px;
        --height: 768px;
    }
}

.mat-paginator-container {
    justify-content: flex-start!important;
}

.my-custom-modal-class {
    .modal-wrapper {
        width: 768px;
    }
}

.w-100 {
    width: 100%;
}

.alert-message {
    p {
        white-space: pre-wrap;
    }
}